body {
    font-family: "Courier New";
    color: black;
    background-color: #2D3C41;
    background-image: url('../images/mala.png') no-repeat;
    text-align: center;
}

.questioncard {
    background-color: #7499A7;
}

.jumbotron {
    text-align: center;
    background-color: #3F535B;
    border-radius: 2px;
    color: white;
}

.question, .answer {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}