<form class="col-xs-10 col-xs-offset-1" novalidate>
    <p><input type="text" name="username" placeholder="enter username" ng-model="user.name" required></p>
    <p><input type="email" name="email" placeholder="enter user email" ng-model="user.email" required></p>
    <p><input type="password" name="password" placeholder="enter new password" ng-model="user.password" required></p>

    <p><button type="submit" id="registerBtn" class="btn btn-default" ng-click="changeRoute('/welcome')">create account</button></p>

</form>

<p>{{user.name}}{{user.password}}</p>